
			<!--头部开始-->
			<header>
				<i><a href="#/leXiangKa"></a></i><i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<p>请正确填写一下信息</p>
				<form action=" " method="post">
					<div><span>持卡人:</span><input type="text"class="name" placeholder="请输入持卡人姓名" />	</div>
					<div><span>联系电话:</span><input type="text"class="phone" placeholder="请优先填写乐园卡绑定的电话" /></div>	
					<div><span>选择商家:</span><input type="text"class="shangJia" placeholder="请选择商家名称" />	
						<a href="#">选择 </a>
					</div>
				
					<div><span>卡总次数:</span><input type="text"class="num" placeholder="请输入卡的总次数" />	</div>
					<div><span>剩余次数:</span><input type="text"class="num1" placeholder="请输入卡的剩余次数" /></div>	
				</form>
				<div class="pic">
					<i></i><span>上传您的乐园卡正面照一张</span>
				</div>
				<p><a href="#">取消</a><a href="#">提交</a></p>
			</section>
