
			<!--头部开始-->
			<header>
				<p><i><a href="#/leYuan"></a></i>返回</p>
				<p>乐享卡</p>
				<i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<div class="section-fenXiang">
					<i><a href="#/fenXiang"></a></i>
					<span>分享自己的乐园卡</span>
				</div>
				<div class="section-gouMai">
					<i><a href="#"></a></i>
					<span>哎呀!您还没有购买乐享卡...</span>
					<a href="#">马上去购买</a>
				</div>
				
				
			</section>
			<!--底部开始-->
			<footer>
				<ul>
					<li><a href="#/shouYe" ><i></i><span>首页</span></a></li>
					<li><a href="#/leYuan"><i></i><span>乐园</span></a></li>
					<li><a href="#/leXiangKa"class="active"><i></i><span>乐享卡</span></a></li>
					<li><a href="#/woDe"><i></i><span>我的</span></a></li>
				</ul>
			</footer>
