
			<!--头部开始-->
			<header>
				<p><i><a href="#/shouYe"></a></i>返回</p>
				<p>乐园</p>
				<i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<!--菜单-->
				<ul class="classify">
					<li class="active"><a href="javascript:;">分类</a>
						<ul class="fenLei">
							<li>全部分类</li>
							<li>密室</li>
							<li>沙地</li>
							<li>淘气包</li>
							<li>蹦极</li>
							<li>亲水</li>
							<li>攀爬</li>
							<li>电动</li>
							<li>设施</li>
						</ul>
					</li>
					<li><a href="javascript:;">全城</a>
						<ul class="quanCheng">
							<li class="QC">全城</li>
							<li class="DC">东城区</li>
							<li class="XC">西城区</li>
							<li class="XW">宣武区</li>
							<li class="CY">朝阳区</li>
							<li class="CW">崇文区</li>
							<li class="HD">海淀区</li>
						</ul>
					</li>
					<li><a href="javascript:;">排序</a>
						<ul class="paiXu">
							<li class="MR">默认排序</li>
							<li class="ZJ">离我最近</li>
							<li class="ZG">销量最高</li>
							<li class="ZD">销量最低</li>
						</ul>
					</li>
				</ul>
				<!--列表-->
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				    	<ul class="list">
						</ul>
				    </div>
				</div>
				
				<!--蒙版-->
				<div class="wrap"></div>
				
			</section>
			<!--底部开始-->
			<footer>
				<ul>
					<li><a href="#/shouYe" ><i></i><span>首页</span></a></li>
					<li><a href="#/leYuan" class="active"><i></i><span>乐园</span></a></li>
					<li><a href="#/leXiangKa"><i></i><span>乐享卡</span></a></li>
					<li><a href="#/woDe"><i></i><span>我的</span></a></li>
				</ul>
			</footer>
