
			<!--头部开始-->
			<header>
				<p><i><a href="#"></a></i>返回</p>
				<p>提交订单</p>
				<i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<div>
					新都乐享30次卡
				</div>	
				<ul>
					<li><span>数量</span><span>1</span></li>
					<li><span>单价：</span><span>1770.00</span></li>
					<li><span>联系方式：</span><span>11010101010 <i></i></span></li>
					<li><span>使用余额：</span><span>0.00<i></i></span></li>
				</ul>					
					
			</section>
			<!--底部开始-->
			<footer>
				<p>实付款 <span> 1770.00</span></p>
				<p><a href="#">立即支付</a></p>
			</footer>
