
					<!--内容部分开始-->
					<section>
						<div class="section-one">
							<div class="swiper-container">
							    <div class="swiper-wrapper">
							    </div>
							    <!-- 分页器 -->
						   		 <div class="swiper-pagination"></div>
							</div>
							
						</div>
						<div class="section-two"> </div>
						<div class="section-thire">
							<p><span>精彩推荐</span></p>
							<ul></ul>
						</div>
						
					</section>
			<!--底部开始-->
			<footer>
				<ul>
					<li><a href="#/shouYe" class="active"><i></i><span>首页</span></a></li>
					<li><a href="#/leYuan"><i></i><span>乐园</span></a></li>
					<li><a href="#/leXiangKa"><i></i><span>乐享卡</span></a></li>
					<li><a href="#/woDe"><i></i><span>我的</span></a></li>
				</ul>
			</footer>
			<!--轮播图-->
			<script>        
				  var mySwiper = new Swiper ('.swiper-container', {
				    direction: 'horizontal',
				    loop: true,
				    autoplay:2000,
				    speed:700,
				    autoplayDisableOnInteraction:false,
				    // 如果需要分页器
				    pagination: '.swiper-pagination',
				  })        
			 </script>
		
