
			<!--头部开始-->
			<header>
				<p><i><a href="#/leXiangKa"></a></i>返回</p>
				<p>我的</p>
				<i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<div class="self">
					<span></span>
				</div>
				<!--列表部分-->
				<ul>
					<li><a href="#"><span>我是代言人</span><i></i></a></li>
					<li><a href="#/zhangHu"><span>我的订单</span><i></i></a></li>
					<li><a href="#/zhangHu"><span>我的优惠券</span><i></i></a></li>
					<li><a href="#/zhangHu"><span>我的账户</span><i></i></a></li>
					<li><a href="#"><span>玩乐商城</span><i></i></a></li>
					<li class="tuCao111"><a href="javascript:;"><span>我要吐槽</span><i></i></a></li>
				</ul>
				<!--我要吐槽部分-->
				<div id="tuCao">
					<div class="tuCao">
						<form action=""method="post">
							<textarea placeholder="你想吐槽点什么？请输入..."></textarea>
							<input type="text" placeholder="怎么联系您？"/>
							<p><a href="#">取消</a><a href="#">提交</a></p>
						</form>
					</div>
				</div>
			</section>
			<!--底部开始-->
			<footer>
				<ul>
					<li><a href="#/shouYe" ><i></i><span>首页</span></a></li>
					<li><a href="#/leYuan"><i></i><span>乐园</span></a></li>
					<li><a href="#/leXiangKa"><i></i><span>乐享卡</span></a></li>
					<li><a href="#/woDe" class="active"><i></i><span>我的</span></a></li>
				</ul>
			</footer>
