
			<!--头部开始-->
			<header>
				<p><a href="#/woDe"><i></i>返回</a><a href="#">关闭</a></p>
				<p>我的账户</p>
				<i></i>
			</header>
			<!--内容部分开始-->
			<section>
				<div id="money">
					<!--上半部分-->
					<ul class="money-top">
						<li>余额：</li>
						<li>0.00元</li>
						<li>
							<span>可转出余额：<span>0元</span></span>
							<a href="#">申请转出</a>
						</li>
						<li>可用乐币： <span>0</span></li>
					</ul>
					<!--下半部分开始-->
					<ul class="money-bottom">
						<li class="active">
							<a href="#">收支明细</a>
							<div>
								没有数据
							</div>
						</li>
						<li>
							<a href="#">申请记录</a>
							<div>
								没有数据
							</div>
						</li>
					</ul>
				</div>
			</section>
